
@charset "UTF-8";


/* tag 단위 CSS */
section{
 	margin-left : auto;
  	margin-right : auto;
}


.postList table{ /* defult display : block */	
 	margin-left : auto;
  	margin-right : auto;
  	text-align : center;
  	border : 2px solid gray;
  	background : rgb(130,255,170);
  	border-collapse: collapse;		/* 이중 테두리 제거*/
}
  
.postList th{
 	width : 150px;
}
  
  
.postList thead{ /* defule display : inline */
     background : rgb(60,170,110);
}
  
.postList tbody{ /* defule display : inline */

}


/*----------------------------------------------------------=*/



.rankingTableItem table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse; /* 이중 테두리 제거*/
	text-align: center;
	border: 2px solid gray;
	background: rgb(255, 203, 255);
}

.rankingTableItem table a {
	text-decoration: none; /* hyper text decoration 제거*/
}

.rankingTableItem thead {
	background: rgb(255, 145, 255);
	th
}

.rankingTableItem tbody tr:hover { /* hover의 동작원리에 대한 이해가 필요함!! */
	background: rgb(255, 100, 150);
}


.rankingTableItem  th{
	display : inline-block;
	width : 140px;
	
}

.rankingTableItem  td{
	display : inline-block;
	width : 140px;
}





/*----------------------------------------------------------=*/  
  
  
  
/* attribute 단위 CSS */
/* grid layout */
.grid-container{
	display : grid;
	grid-template-columns: auto auto auto;	/* [point] Create grid for 3 row*/
	padding : 10px;
}

.searchItem{
	border : 3px solid gray;
	text-align: center;
	
	/* grid location */
  	grid-column: 1;
  	grid-row: 1;	

}

.rankingTableItem{
	border : 3px solid gray;
	text-align: center;
	
	/* grid location */
	grid-column: 2 / span 2;
	grid-row: 1;	
}



.countPage{ 	
	display : block;
	text-align :center;

}




.postList .title{
	display : inline-block;
	width : 200px;
	
}	

  
  
  